/* Reset */
* {
  list-style-type: none;
}

/* Header */
header {
  height: 80px;
}
header h4 {
  text-transform: uppercase;
  text-align: center;
}

main {
  background-color: burlywood;
}

main ul {
  margin: 2rem auto;
}

/* Footer */
footer li {
  background-color: green;
  font-weight: bold;
  font-size: 0.8rem;
}
