/* Reset */
* {
  list-style-type: none;
}

/* Header */
header {
  height: 80px;
}
header h4 {
  text-transform: uppercase;
  text-align: center;
}

main {
  background-color: burlywood;
  padding: 2rem 0;
}

main ul {
  margin: 0 auto;
  max-width: 500px;
}

/* Footer */
footer {
  background-color: green;
}

footer li {
  font-weight: bold;
  font-size: 0.8rem;
}
